{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <h1>Документы</h1>
    <ol>
        <li><a href="{% url 'docs' filename='reestr.pdf' %}">Выписка из реестра лицензий на осуществление образовательной деятельности</a></li>
        <li><a href="{% url 'docs' filename='metod.pdf' %}">Положение о методической деятельности</a></li>
        <li><a href="{% url 'docs' filename='Building plan.pdf' %}">Поэтажный план здания</a></li>
        <li><a href="{% url 'docs' filename='learn.pdf' %}">Положение об образовательной деятельности</a></li>
        <li><a href="{% url 'docs' filename='Building plan.pdf' %}">Устав компании</a></li>
    </ol>
{% endblock %}

{% block sidebar %}
    {% load static %}
    <ul>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
            <a href="{% url 'index' %}">Информация о сотруднике</a>
        </li>
        {% if perms.isprofile.can_see_db %}
        <li>
            <a href="{% url 'dbinfo' %}">Настройки БД</a>
        </li>
        {% endif %}
         <li>
            <a href="{% url 'docs' %}">Документы</a>
        </li>
    </ul>
{% endblock %}